<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <img class='heart-emoji' src="../static/photos/heart emoji.png">
            <a class="navbar-brand" href="{{ url_for('home') }}">Nature Vibes</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ url_for('signup') }}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>

        <div class="card" style="width:25%; margin-left:38%; padding:3px">
            <h5>Sign-up</h5>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                 {% for message in messages %}
                   <p style="color: blue;">{{ message }}</p>
                 {% endfor %}
               {% endif %}
            {% endwith %}
               <div class="card-body" style="border:solid; border-width:1px; margin: 5px">
                    <form action="{{ url_for('signup') }}" method="post">
                    <p class="card-title">
                    <label for="name">Name</label> <br>
                    <input type="text" id="name" name="name" placeholder="" required="required" />
                    </p>
                    <p class="card-title">
                    <label for="email">Email</label> <br>
                    <input type="email" id="email" name="email" placeholder="" required="required" />
                    </p>
                    <p class="card-title">
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password" placeholder="" required="required" />
                    </p>
                    <button type="submit" class="btn btn-primary btn-block btn-large">Sign me up.</button>
                    </form>
                   <br>
                   <a style="color:black" href="{{ url_for('login') }}"><p>Already have an account? Login instead.</p></a>
               </div>
        </div>
    </div>
</body>

<footer>
    <p>A healthier you a better you</p>
</footer>

</html>